<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#DB0000" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">

    <script src="https://kit.fontawesome.com/eb82c1e468.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Restaurant-IND</title>
</head>

<body>
    <a href="#mainContent" class="skip-link" id="skip-link">Skip To Content</a>
    <header>
        <app-bar></app-bar>
        <search-container></search-container>
    </header>
    <main id="mainContent" tabindex="0">
    </main>
    <footer>
        <foot-bar></foot-bar>
    </footer>
</body>

</html>