* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #00FFF5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-bar {
  width: 100%;
  height: 90px;
  padding: 6px 16px;
  background-color: #222831;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
app-bar .app-bar__menu button {
  min-width: 45px;
  min-height: 45px;
  background-color: transparent;
  color: #00FFF5;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
app-bar .app-bar__brand h1 {
  font-size: 22px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
app-bar .app-bar__navigation {
  position: absolute;
  top: 65px;
  left: -280px;
  width: 250px;
  transition: all 0.3s;
  padding: 15px;
  background-color: #393E46;
  overflow: hidden;
  z-index: 100;
}
app-bar .app-bar__navigation ul li {
  list-style: none;
}
app-bar .app-bar__navigation ul li a {
  min-width: 45px;
  min-height: 45px;
  display: inline-block;
  text-decoration: none;
  color: #00FFF5;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}
app-bar .app-bar__navigation ul li input {
  min-width: 45px;
  min-height: 45px;
  width: 150px;
  border-radius: 8px;
}
app-bar .app-bar__navigation ul li button {
  min-width: 45px;
  min-height: 45px;
  width: 60px;
  background-color: #393E46;
  color: #00FFF5;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}
app-bar .open {
  left: 0;
}

search-container {
  position: absolute;
  margin: auto;
  top: 100px;
  left: 50px;
  right: 50px;
  background-color: #222831;
  z-index: 10;
  display: none;
  padding: 20px;
  overflow: auto;
  color: white;
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 5px;
}
search-container input {
  min-width: 45px;
  min-height: 45px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}
search-container button {
  min-width: 45px;
  min-height: 45px;
  margin-top: 5px;
  width: 70px;
  background-color: #00ADB5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  font-size: larger;
}
search-container search-item {
  min-width: 45px;
  min-height: 45px;
  background-color: #393E46;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}
search-container search-item a {
  color: #00FFF5;
  text-decoration: none;
  font-size: large;
  padding: 5px;
}

.none {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #393E46;
  flex: 1;
  margin: 0 auto;
  padding-bottom: 60px;
  height: 100%;
  width: 100%;
}
main .content__hero {
  width: 100%;
  height: 550px;
  background-color: #00ADB5;
}
main .content__hero img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 550px;
}
main .content__heading {
  padding: 20px 20px;
  font-size: 2em;
  text-shadow: 5px 5px 5px black;
}
main .content__search {
  min-width: 45px;
  min-height: 45px;
  min-width: 310px;
  box-shadow: 5px 5px 5px black;
  font-weight: bold;
  font-size: 1em;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 5px;
}

restaurant-list {
  display: grid;
  margin: 20px 20px;
  gap: 16px;
}

.resto-item {
  background-color: #00ADB5;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  flex: 1;
  box-shadow: 5px 5px 5px black;
}
.resto-item .resto-item__header {
  background-color: #222831;
  width: 100%;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.resto-item .resto-item__header .resto-item__header__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.resto-item .resto-item__header .resto-item__header__location {
  padding: 10px;
  min-width: 80px;
  position: absolute;
  top: 10px;
  background-color: #00ADB5;
  border-radius: 0 10px 10px 0;
}
.resto-item .resto-item__header .resto-item__header__location .resto-item__header__location__place {
  font-weight: bold;
  color: #222831;
  text-align: center;
}
.resto-item .resto-item__header .resto-item__header__rating {
  padding: 10px;
  position: absolute;
  top: 60px;
  background-color: #00ADB5;
  border-radius: 0 10px 10px 0;
}
.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
  font-weight: bold;
  color: #222831;
  text-align: center;
}
.resto-item .resto-item__content {
  padding: 10px;
  width: 100%;
}
.resto-item .resto-item__content h3 {
  font-size: 25px;
  font-weight: bold;
}
.resto-item .resto-item__content h3 a {
  display: inline-block;
  min-width: 45px;
  min-height: 45px;
  color: #222831;
  text-decoration: none;
}
.resto-item .resto-item__content p {
  padding: 10px 0 0 0;
  color: #222831;
  height: 150px;
  overflow: auto;
  font-weight: 500;
}

detail-container {
  display: block;
  margin: 0px;
}
detail-container .container__image {
  height: 550px;
  background-color: #00ADB5;
}
detail-container .container__image img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 550px;
}
detail-container .resto__header {
  margin: 10px 20px;
}
detail-container .resto-container {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
detail-container .resto-container .restaurant__description {
  overflow: auto;
  height: 150px;
  margin: 10px 0px;
}
detail-container .resto-container .restaurant__menus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
detail-container .titleCustomer {
  margin: 5px 20px;
}
detail-container .restaurant__customerReviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 5px 20px;
}
detail-container .restaurant__customerReviews .restaurant__customerReviews-item {
  background-color: #00ADB5;
  padding: 10px;
  color: #222831;
  box-shadow: 5px 5px 5px black;
}
detail-container .restaurant__customerReviews .restaurant__customerReviews-item .customerReviews-item__name {
  overflow-wrap: break-word;
}
detail-container .restaurant__customerReviews .restaurant__customerReviews-item .customerReviews-item__date {
  font-size: 0.7em;
}
detail-container .restaurant__customerReviews .restaurant__customerReviews-item .customerReviews-item__review {
  margin: 5px;
  font-size: 1em;
  overflow-wrap: break-word;
}

review-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 15px 20px;
}
review-container .review-container__title {
  margin: 10px 0px;
}
review-container .review-container__name {
  width: 100%;
  margin: 10px 0;
}
review-container .review-container__name input {
  min-width: 45px;
  min-height: 45px;
  width: 100%;
  box-shadow: 5px 5px 5px black;
}
review-container .review-container__textarea {
  width: 100%;
  margin: 10px 0;
}
review-container .review-container__textarea textarea {
  min-width: 45px;
  min-height: 45px;
  width: 100%;
  min-height: 200px;
  box-shadow: 5px 5px 5px black;
}
review-container .review-container__button button {
  min-width: 45px;
  min-height: 45px;
  border-radius: 10px;
  width: 70px;
  background-color: #00ADB5;
  box-shadow: 5px 5px 5px black;
  font-size: 20px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 16px;
  background-color: #222831;
  text-align: center;
}
footer foot-bar {
  display: block;
  height: 20px;
}
footer foot-bar p {
  font-size: medium;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: red;
  color: #393E46;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.like {
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 16px;
  z-index: 90;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 40%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
loading-page {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 999;
  text-align: center;
}

skeleton-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 0px 20px 20px 20px;
}
skeleton-list skeleton-item {
  display: block;
  border-radius: 10px;
  background-color: #fff;
  height: 500px;
}
skeleton-list skeleton-item .skeleton-item__header__img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
skeleton-list skeleton-item .skeleton-item__content__name {
  margin: 10px;
  width: 150px;
  height: 20px;
}
skeleton-list skeleton-item .skeleton-item__content__description {
  margin: 5px 10px;
  width: 250px;
  height: 10px;
}

skeleton-detail {
  display: block;
  width: 100%;
}
skeleton-detail .skeleton-detail__img {
  width: 100%;
  height: 550px;
  background-color: rgb(133, 133, 133);
}
skeleton-detail .skeleton-detail__title {
  margin: 20px 20px;
  width: 150px;
  height: 20px;
  border-radius: 5px;
}
skeleton-detail .skeleton-detail__description {
  margin: 10px 20px;
  width: 300px;
  height: 10px;
  border-radius: 5px;
}
skeleton-detail .skeleton-detail__menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 20px;
}
skeleton-detail .skeleton-detail__menus .skeleton-detail__menus__item {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 20px;
}
skeleton-detail .skeleton-detail__menus .skeleton-detail__menus__item .skeleton-detail__menus__title {
  padding: 10px;
  width: 120px;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
skeleton-detail .skeleton-detail__menus .skeleton-detail__menus__item .skeleton-detail__menus__description {
  padding: 10px;
  width: 200px;
  height: 10px;
  border-radius: 5px;
}
skeleton-detail .skeleton-detail__review {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 20px;
}
skeleton-detail .skeleton-detail__review .skeleton-detail__review__item {
  width: 300px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 20px;
}
skeleton-detail .skeleton-detail__review .skeleton-detail__review__item .skeleton-detail__review__title {
  padding: 10px;
  width: 120px;
  height: 20px;
  border-radius: 5px;
}
skeleton-detail .skeleton-detail__review .skeleton-detail__review__item .skeleton-detail__review__description {
  padding: 10px;
  width: 200px;
  height: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.skeleton {
  background: rgb(133, 133, 133);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: 1s skeleton ease infinite;
          animation: 1s skeleton ease infinite;
}

@-webkit-keyframes skeleton {
  to {
    background-position: right;
  }
}

@keyframes skeleton {
  to {
    background-position: right;
  }
}
@media screen and (min-width: 600px) {
  app-bar {
    padding: 8px 32px;
    grid-template-columns: 1fr auto;
  }
  app-bar .app-bar__menu {
    display: none;
  }
  app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
  app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    height: 60px;
    background-color: transparent;
  }
  app-bar .app-bar__navigation ul li {
    display: inline-block;
    margin-left: 5px;
  }
  app-bar .app-bar__navigation ul li a {
    min-width: 45px;
    min-height: 45px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  app-bar .app-bar__navigation ul li input {
    width: 100px;
  }
  app-bar .open {
    left: 0;
  }
  restaurant-list {
    grid-template-columns: 1fr 1fr;
  }
  detail-container .resto-container {
    grid-template-columns: 1fr 1fr;
  }
  detail-container .restaurant__customerReviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  detail-container .restaurant__customerReviews .restaurant__customerReviews-item .customerReviews-item__date {
    font-size: 0.7em;
  }
  detail-container .restaurant__customerReviews .restaurant__customerReviews-item .customerReviews-item__review {
    margin: 5px 0;
    font-size: 1em;
  }
  skeleton-list {
    grid-template-columns: 1fr 1fr;
  }
  skeleton-detail .skeleton-detail__menus {
    display: flex;
    flex-direction: row;
  }
  skeleton-detail .skeleton-detail__review {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 800px) {
  app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    background-color: transparent;
  }
  app-bar .app-bar__navigation ul li input {
    width: 200px;
  }
}
@media screen and (min-width: 950px) {
  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
  detail-container .restaurant__customerReviews {
    grid-template-columns: repeat(3, 1fr);
  }
  skeleton-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }
  detail-container .restaurant__customerReviews {
    grid-template-columns: repeat(4, 1fr);
  }
  skeleton-list {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=main.css.map */